*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-primary-b{
    background-color: #282828;
    color: #FFF;
}

.bg-secondary-b{
    background-color: #015440;
    color: #FBE219;
}

.bg-tertiary-b{
    background-color: #FBE219;
    color: #282828;
}

.bg-alternative-b{
    background-color: #006149;
    color: #FBE219;
}
.btn-primary-b{
    background-color: #FBE219;
    color: #282828;
    padding: 10px;
    border: 1px solid #FBE219;
    border-radius: 4px;
    font-weight: bold;
    font-size: 17px;
    transition: 0.7s all;
    text-decoration: none;
}

.btn-primary-b:hover{
    background-color: #282828;
    color: #FBE219;
    transition: 0.7s all;

}

.btn-secondary-b{
    background-color: #282828;
    color: #FBE219;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #FBE219;
    font-weight: bold;
    font-size: 17px;
    transition: 0.7s all;
    text-decoration: none;
}

.btn-secondary-b:hover{
    background-color: #FBE219;
    color: #282828;
    transition: 0.7s all;
}

.form-field-title{
    font-size: 1.4em;
    font-weight: 700;
    color: #FFF;
}

.link-color-primary{
    color: #FBE219;
    font-size: 14px;
}

.link-color-primary:hover{
    color: #282828;
    text-decoration: underline;
}


.link-color-alternative{
    color: #FFF;
    font-size: 14px;
}

.titulo-4-white{
    color: #FFF;
    font-size: 1.3em;
    font-weight: 500;
}


.paragrafo{
    color: #FFF;
    font-size: 0.8em;
    text-align: justify;

}

.paragrafo-type-b{
    color: #FFF;
    font-size: 1em;
    line-height: 1.5em;
    text-align: justify;
}

